

nav{
    background-color: rgb(165, 164, 164);
}

.card-text{
display: flex;
justify-content: center





}

.navbar-brand{
    font-size: 30px;
}

.nav-item{
font-size: 20px;

}


ul{
   margin: 0;
    list-style: none;
 

}

.row{
 
 padding: 20px;
}

.col-10{
    margin-bottom: 20px;
}


    
    .card{
        
        transition: 1s;
        
    }
    
    .card:hover{
        
        transform:translate(0, -10px);
        box-shadow: 2px 2px 5px rgb(75, 75, 75);
    
}

.top-heading{

    margin-top: 50px;
}

a{

    text-decoration: none;


}



.row-foot{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow:auto;
}

footer{

    background-color: rgb(231, 231, 231);
    height: 320px;
 overflow: hidden;

}
